@import '../../node_modules/bulmaswatch/darkly/_variables';
@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulmaswatch/darkly/_overrides';
@import '@fortawesome/fontawesome-free/scss/solid';

html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.selectable {
  -webkit-touch-callout: auto; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: auto; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: auto; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
